.detail .pricing li {
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  justify-content: space-between;
}

.detail .pricing .price {
    width: auto;
    margin-left: auto;
}

.detail .pricing .label {
    width: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
}
.detail .pricing .savings {
    color: #00a300;
}
.detail .pricing .Line {
    padding-bottom: 5px;
    border-bottom: 2px dotted;
}

.detail .pricing .sale{
    font-size: 2em;
    font-weight: 700;
}
.padded-container {
    padding: 16px;
}

.info li {
    margin: 0 0 48px;
    position: relative;
    min-height: 48px;
    padding: 0 16px 0 64px;
    text-align: left;
    line-height: 1.25;
}
.info li .data {
    display: inline-block;
    padding-right: 24px;
    font-weight: 700;
    font-size: 16px;
}
.info li .data span {
    display: block;
    font-size: 14px;
}
.icon {
    position: absolute;
    top: -4px;
    left: 0;
    text-align: center;
}